body {
  height: 100vh;
  margin: 0;
  background-color: #222;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-rows: repeat(calc(var(--highestY) - var(--lowestY) + 20), 1fr);
  aspect-ratio: calc(calc((500 + var(--highestY) + 5) - (500 - var(--highestY) - 5)) / calc(var(--highestY) - var(--lowestY) + 20));
}

.row {
  display: grid;
  grid-template-columns: repeat(calc((500 + var(--highestY) + 5) - (500 - var(--highestY) - 5)), 1fr);
}

.square {
  background-color: black;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

p {
  color: white;
}

#stats {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10vw;
  font-size: 2rem;
}

#visualize {
  display: none;
}